.manage_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 100px;
    background-color: var(--lightest);
    min-height: 100vh;
}

.manage_employee_picker {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin: 20px 0 5px 0;
}

.manage_employee_picker_section {
    cursor: pointer;
    position: relative;
    height: 130px;
    width: 18%;
    border-radius: 10px;
    overflow: hidden;
}

.meps_bobby {
    background: linear-gradient(to right, var(--lilac-blue) 10%, #8777f5);
}
.meps_tommy {
    background: linear-gradient(to right, var(--lilac-green) 10%, #70f570);
}
.meps_jasmine {
    background: linear-gradient(to right, var(--lilac-yellow) 10%, #f5f563);
}
.meps_harry {
    background: linear-gradient(to right, var(--lilac-pink) 10%, #f781aa);
}
.meps_all {
    background: linear-gradient(to right, #f0f0f0 10%, var(--light));
}

.meps_bobby:hover {
    box-shadow: 0 0 10px #8777f5;
}
.meps_tommy:hover {
    box-shadow: 0 0 10px #70f570;
}
.meps_jasmine:hover {
    box-shadow: 0 0 10px #f5f563;
}
.meps_harry:hover {
    box-shadow: 0 0 10px #f781aa;
}
.meps_all:hover {
    box-shadow: 0 0 10px var(--light);
}

.extra_span_meps {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: linear-gradient(to bottom right, var(--blue) 50%, transparent 50%);
}

.meps_image {
    box-shadow: 0 0 10px var(--dark);
    z-index: 2;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100px;
}

.meps_icon {
    height: 30px;
    width: 30px;
    padding: 10px;
    background-color: var(--blue);
    color: var(--lightest);
}

.meps_span {
    width: 90px;
    height: 90px;
    background-color: var(--lightest);
    opacity: .5;
    position: absolute;
    bottom: -45px;
    right: -45px;
    border-radius: 100px;
}

.meps_span_2 {
    width: 150px;
    height: 150px;
    background-color: var(--lightest);
    opacity: .3;
    position: absolute;
    top: -45px;
    right: -45px;
    border-radius: 100px;
}

.meps_text {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 15px;
    font-weight: 500;
}

.manage_main {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    box-sizing: border-box;
    margin-top: 30px;
}

.manage_main_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}

.add_availability_button {
    width: 18px;
    height: 18px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--lighter);
}

.add_availability_bobby {background-color: var(--lilac-blue);}
.add_availability_tommy {background-color: var(--lilac-green);}
.add_availability_jasmine {background-color: var(--lilac-yellow);}
.add_availability_harry {background-color: var(--lilac-pink);}

.manage_main_title {
    width: 90%;
    font-size: 16px;
    font-weight: 500;
}

.manage_main_header {
    display: flex;
    width: 100%;
    color: var(--dark);
    font-size: 13px;
    justify-content: space-between;
    border-bottom: 1px solid var(--dark);
    padding-bottom: 10px;
}

.manage_main_header_span {
    display: flex;
    align-items: center;
    width: 20%;
}

.manage_main_bookings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.manage_booking_item {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--light);
    font-size: 13px;
}

.manage_booking_span {
    padding: 5px 0;
    width: 20%;
    display: flex;
    align-items: center;
}

.no_bookings_text {
    font-weight: 500;
    color: var(--dark);
    font-size: 12px;
}

.booking_cross_icon {
    color: var(--red);
}

.booking_tick_icon {
    color: green;
}

.mbs_remove {
    background-color: var(--blue);
    color: var(--lightest);
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 10px;
    background-color: var(--red);
    transition: .3s;
}

.mbs_remove:hover {
    transform: scale(1.05);
}

.add_availability_back {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0,0,0,.1);
}

.aab_inner {
    width: 400px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lightest);
    border-radius: 10px;
    position: relative;
}

.aab_text {
    font-size: 14px;
    margin-bottom: 15px;
}

.aab_buttons {
    display: flex;
    align-items: center;
}

.aab_button {
    padding: 4px 10px;
    background-color: var(--lightest);
    box-shadow: 0 0 5px var(--light);
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: .3s;
}

.aab_button:hover {
    box-shadow: 0 0 5px var(--dark);
}

@media (max-width: 1000px) {
    .manage_employee_picker {
        overflow: auto;
    }

    .manage_employee_picker_section {
        min-width: 150px;
        margin: 0 8px;
    }

    .meps_image {
        height: 40px;
        width: 40px;
    }

    .meps_icon {
        height: 20px;
        width: 20px;
    }

    .meps_text {
        top: 10px;
        left: 15px;
        font-size: 14px;
    }

}

.manage_employee_picker::-webkit-scrollbar {
    height: 5px;
}

.manage_employee_picker::-webkit-scrollbar-thumb {
    background-color: var(--blue); 
    border-radius: 10px; 
}

.manage_employee_picker::-webkit-scrollbar-track {
    background-color: var(--lightest); 
    border-radius: 10px;
}

@media (max-width: 700px) {
    .manage_main_header {
        font-size: 12px;
    }
}

.add_back_loading {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0,0,0,.1);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}


.add_back_loading_span {
    height: 45px;
    width: 45px; 
    border: 5px solid var(--lighter); 
    border-top: 5px solid var(--blue);
    border-radius: 50%;
    animation: spin 1s linear infinite; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}