.manage_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 100px;
}

.manage_top {
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    box-sizing: border-box;
    justify-content: space-between;
    margin-bottom: 30px;
}

.manage_home_icon {
    background: linear-gradient(to right, var(--blue) 50%, var(--lighterblue));
    border-radius: 5px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    padding: 6px;
    color: var(--lightest);
    margin-right: 10px;
}

.manage_top_text {
    font-size: 14px;
    font-weight: 600;
}

.manage_employee_picker {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.manage_employee_picker_section {
    cursor: pointer;
    position: relative;
    height: 130px;
    width: 18%;
    border-radius: 10px;
    overflow: hidden;
}

.meps_bobby {
    background: linear-gradient(to right, var(--lilac-blue) 10%, #8777f5);
}
.meps_tommy {
    background: linear-gradient(to right, var(--lilac-green) 10%, #70f570); 
}
.meps_jasmine {
    background: linear-gradient(to right, var(--lilac-yellow) 10%, #f5f563); 
}
.meps_harry {
    background: linear-gradient(to right, var(--lilac-pink) 10%, #f781aa); 
}
.meps_all {
    background: linear-gradient(to right, #f0f0f0 10%, var(--light));
}

.extra_span_meps {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: linear-gradient(to bottom right, var(--blue) 50%, transparent 50%);
}

.meps_image {
    box-shadow: 0 0 10px var(--dark);
    z-index: 2;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100px;
}

.meps_icon {
    height: 30px;
    width: 30px;
    padding: 10px;
    background: linear-gradient(to right, var(--blue) 50%, var(--lighterblue));
    color: var(--lightest);
}

.meps_span {
    width: 90px;
    height: 90px;
    background-color: var(--lightest);
    opacity: .5;
    position: absolute;
    bottom: -45px;
    right: -45px;
    border-radius: 100px;
}

.meps_span_2 {
    width: 150px;
    height: 150px;
    background-color: var(--lightest);
    opacity: .3;
    position: absolute;
    top: -45px;
    right: -45px;
    border-radius: 100px;
}

.meps_text {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 15px;
    font-weight: 500;
}

.manage_main {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 30px 0;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--lighter);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--dark);
    margin-top: 30px;
}

.manage_main_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 15px;
}

.add_availability {
    width: 18px;
    height: 18px;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(to right, var(--blue) 50%, var(--lighterblue));
    color: var(--lightest);
    cursor: pointer;
}

.manage_main_title {
    width: 90%;
    font-size: 16px;
    font-weight: 600;
}

.manage_main_header {
    display: flex;
    height: 32px;
    background-color: var(--lightest);
    width: 90%;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    border: 1px solid var(--dark);
    justify-content: space-between;
}

.manage_main_header_span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.manage_main_bookings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 20px;
}

.manage_booking_item {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: var(--light);
    border-radius: 3px;
}

.manage_booking_span {
    padding: 5px 0;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
}

.no_bookings_text {
    font-weight: 500;
    color: var(--blue);
}

.booking_cross_icon {
    color: red;
}

.booking_tick_icon {
    color: green;
}

.mbs_remove {
    background: linear-gradient(to right, var(--blue) 50%, var(--lighterblue));
    color: white;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.add_availability_back {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.aab_inner {
    width: 400px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lightest);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--dark);
}

.aab_text {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}

.aab_buttons {
    display: flex;
    align-items: center;
}

.aab_button {
    padding: 3px 10px;
    margin: 0 3px;
    border: 1px solid var(--dark);
    font-size: 13px;
    font-weight: 500;
    transition: .3s;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
}

.aab_button:hover {
    box-shadow: 0 0 10px var(--dark);
}

@media (max-width: 1000px) {
    .manage_employee_picker {
        overflow: auto;
    }

    .manage_employee_picker_section {
        min-width: 150px;
        margin: 0 8px;
    }

    .meps_image {
        height: 40px;
        width: 40px;
    }

    .meps_icon {
        height: 20px;
        width: 20px;
    }

    .meps_text {
        top: 10px;
        left: 15px;
        font-size: 14px;
    }

}

.manage_employee_picker::-webkit-scrollbar {
    height: 5px;
}

.manage_employee_picker::-webkit-scrollbar-thumb {
    background-color: var(--blue); 
    border-radius: 10px; 
}

.manage_employee_picker::-webkit-scrollbar-track {
    background-color: var(--lightest); 
    border-radius: 10px;
}

@media (max-width: 700px) {
    .manage_main_header {
        font-size: 12px;
    }
}