.notif {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    height: 40px;
    padding: 0 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: notifSlide 0.5s ease-in-out;
    background-color: var(--blue);
    color: var(--lightest);
    font-weight: 500;
    min-width: 250px;
    font-size: 14px;
}

@keyframes notifSlide {
    0% {
        top: -40px;
    }
    100% {
        top: 0;
    }
}