@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.App {
  color: var(--darkest);
}

:root {
  --lightest: #f9f9f9;
  --lighter: #ebebeb;
  --light: #c5c5c5;
  --dark: #636363;
  --darker: #343434;
  --darkest: #141414;
  --darkblue: #0909d5;
  --lightblue: #d5f4ff;
  --lighterblue: #4b90e9;
  --blue: #0164e6;
  --red: #ff0000;

  /* Lilac shades */
  --lilac-blue: #b3a7f7;
  --lilac-green: #b3f7d1;
  --lilac-yellow: #f7f7b3;
  --lilac-pink: #f7b3f7;
}
